<nav class="navbar navbar-default default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipes Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect(1)">Recipes</a></li>
                <li><a href="#" (click)="onSelect(2)">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-bar navbar-right">
                <a href="#" class="dropdown"></a>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>